<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FragmentDemoActivity"
            android:label="@string/app_name"/>
        <activity android:name=".ListViewDemoActivity"
            android:label="List View"/>
        <activity android:name=".RecycleViewActivity"
            android:label="RecycleViewer"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name="viewpager2.ViewPage2Activity"
            android:label="ViewPage2"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name="tablayout.TabLayoutActivity"
            android:label="Tablayout"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name="retrofit.RetrofitActivity"
            android:label="Topic"/>
        <activity android:name="retrofit.DisplayImageActivity"
            android:label="Display Image"/>
        <activity android:name="retrofit.SubmitImageActivity"
            android:label="Meme Image"/>
    </application>

</manifest>